@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --bg-color: #ffffff;
    --text-color: #000000;
    --link-color: #1a73e8;
    --keys_back: #333;
}



body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    overflow-y: hidden;
    background-color: var(--text-color);
}

.container {
    width: 100%;
}

.navbar {
    /* height: 20%; */
    height: 32px;
    max-width: 100%;
    /* background-color: rgb(209, 207, 197); */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;

    :where(.nav_left, .nav_center, .nav_right, .nav_left > .nav_logo) {
        display: flex;
        flex-direction: row;
    }

    & .nav_left {
        flex-basis: 35%;
    }

    & .nav_center {
        flex-basis: 45%;
    }

    & .nav_right {
        flex-basis: 20%;
    }

    & .nav_left {
        justify-content: flex-start;
        gap: 0.6rem;
        display: flex;
        align-content: center;
        align-items: center;
        width: 80px;

        & .nav_logo {
            align-items: center;
            justify-content: center;
        }
    }

    & .nav_center {
        width: 600px;

        /* min-width: 0px; */
        .search_form {
            display: flex;
            width: 100%;

            /* max-width: 500px; */
            .search {
                border: 1px solid #333;
                border-radius: 0px 25px 25px 0px;
                width: 80px;
                /*---------*/
                background-color: var(--text-color);
                /* margin-left: 5px; */

                i {
                    margin-left: -8px;
                }

                &:hover {
                    background-color: var(--bg-color);
                    color: var(--text-color);
                }
            }

            .input_form {
                height: 34px;
                max-width: 600px;
                width: 100%;
                border: 1px solid #333;
                border-radius: 25px 0px 0px 25px;
                padding: 13px;
                outline: none;
                background-color: var(--text-color);
                color: var(--bg-color);
            }

            .input_form::placeholder {
                color: var(--bg-color);
            }
        }

        .mic {
            background-color: var(--text-color);
            border-radius: 50%;
        }

    }

    & .nav_right {
        align-items: center;
        justify-content: flex-end;
    }

    :where(.profil, .logo) {
        border-radius: 50%;
        width: 32px;
        cursor: pointer;
    }

    & .nav_logo {
        display: flex;
        gap: 0.5rem;
        text-decoration: none;

        h2 {
            font-size: 13px;
            color: var(--bg-color);
        }
    }

    :where(.btn) {
        width: 34px;
        height: 34px;
        /* background-color: yellow; */
        background-color: var(--text-color);
        border: none;
        cursor: pointer;
        margin-right: 12px;
        color: var(--bg-color);
    }

    .btn:hover {
        background-color: var(--bg-color);
        border-radius: 50%;
        color: var(--text-color);
    }

    i {
        font-size: 23px;
    }
}

.sections {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 32px);
}

.section-left {
    /* left: -100%; */
    background-color: var(--text-color);
    color: var(--bg-color);
    /* flex-basis: 10%; */
    /* padding: 20px; */
    /* margin-left: 1px; */
    overflow-y: auto;
    /* position: fixed; */
    margin-left: -115px;

}

.section-left.extend {
    /* flex-basis: 15%; */
    margin-left: 0px;
}

.menu_left:not(:last-child) {
    border-bottom: 1px solid #888686;
}

.menu_left {
    margin: 12px;
}

ul {
    /* width: 270px; */
    padding: 0;
    list-style: none;
}

ul li {
    /*     display: flex;
    flex-direction: column; */
    /*    justify-content: center;
    align-items: center;
    align-content: center; */

    margin-bottom: 20px;
    /* list-style: none; */
    font-size: 15px;
    height: 45px;
    padding: 5px 10px;
    background-color: var(--text-color);
    /* width: 40px; */

    a {
        text-decoration: none;
        font-size: 16px;
        color: var(--bg-color);
    }

    i {
        font-size: 24px;
    }
}

ul li:hover {
    background-color: #413c3c;
    cursor: pointer;
    border-radius: 5px;
}

/* 
.activeMenu {
    display: none;
} */

/* .extendSectionLeft {
    .section-left {

        flex-basis: 20%;
    }

    .section-right {
        flex-basis: 85%;
    }
}
 */
.section-right {

    flex-basis: 100%;
    padding: 20px;
    position: relative;

    height: calc(100vh - 80px);
    overflow-x: hidden;

    transition: margin-left 0.3s;

    background-color: var(--text-color);
}

.section-right.extend {}




.scroll-button {
    background-color: #060706;
    border: none;
    color: var(--bg-color);
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 50%;
    position: absolute;
    z-index: 10;
    transition: background-color 0.3s;
    /* margin-top: -48px; */
    /* display: block; or display: inline-block; */

}

.scroll-button:hover {
    background-color: #555;
}

.scroll-left {
    position: absolute;
    top: 3px;
    left: 20px;
    display: none;
    /* Initially hidden */
}

.scroll-right {
    right: 10px;
    top: 0;
    background-color: var(--text-color);

}

/* 
.keywords {
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    scroll-behavior: smooth;
    background-color: #000000;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
} 
*/
.keywords {
    display: flex;
    white-space: nowrap;
    height: 40px;
    overflow: hidden;
    scroll-behavior: smooth;
    margin: -20px 0px;
    padding: 5px 20px;
    width: 100%;
}

.keywords::-webkit-scrollbar {
    display: none;
}

.keyword:first-child {
    background-color: #dbcaca;
    color: #333;
}

.keyword:not(first-child) {
    /* background-color:#d8c5c500; */
    color: var(--bg-color);
    background-color: var(--keys_back);
}

.keyword {
    height: 25px;
    width: 65px;
    background-color: var(--text-color);
    color: var(--bg-color);
    padding: 6px;
    border-radius: 8px;
    margin-right: 20px;
    cursor: pointer;
    white-space: nowrap;
    transition: background-color 0.3s;
}

.keyword:hover {
    background-color: var(--bg-color);
    color: var(--text-color);
}


.cards {
    /*     display: flex;
    justify-content: space-between; */
    /* flex-wrap: wrap;  */

    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 15px;
    margin: 30px auto;
}

.card {
    /* flex: 0 3 auto; */
    flex-direction: column;
    width: 100%;
    /* border: 3px solid rgb(25, 0, 255); */
    margin-top: 20px;
    background-color: var(--text-color);
    color: var(--bg-color);

    .back_video {

        /* border: 3px solid red; */
        img {
            width: 100%;
            box-shadow: -3px 3px 3px 0px rgba(0, 0, 0, 0.57);

        }


    }



    .user_title_video {
        display: flex;
        flex-direction: row;
        /* border: 3px solid rgb(6, 175, 20); */

        img {
            width: 40px;
            border-radius: 50%;
            margin: 5px;
        }

        .info_videos {
            display: flex;
            flex-direction: column;
            margin-bottom: 5px;

            .title {
                width: 100%;
                padding: 0;

                a {
                    text-decoration: none;
                    color: var(--bg-color);
                }
            }

            /*         & .title {
                width: 240px;
                
                white-space: nowrap;
               
                overflow: hidden;
               
                text-overflow: ellipsis;
                
                padding: 5px;
            }  */

            .views {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }

        .info_videos:first-child {
            padding: 0px;
        }

    }
}







/* Responsive Styles */
@media only screen and (max-width: 1230px) {
    .cards {
        grid-template-columns: repeat(3, auto);
    }

}


/* @media only screen and (min-width: 1015px) and (max-width: 1322px) {
     .sections {
        max-width: 1300px; 

         .section-right {
            width: 1315px; 


            .cards {
               
                display: grid;
                grid-template-columns: repeat(3, 1fr);

                
            }
         } 
    }

} */



@media only screen and (max-width: 1080px) {

    .logo {
        margin-left: -15px;
    }

    /* 
    .input_form {
        display: none;
    }
 */
    /* .search {
        border-radius: 50% !important;
        width: 34px !important;
        height: 34px !important;
        border: none !important;
    } */

    .nav_left {
        h2 {
            font-size: 12px;
            margin-right: 5px;
            color: var(--text-color);
        }
    }

    /* 

    .section-left {

        flex-basis: 0%;
    } */

    /*     .section-right {

        flex-basis: 100%;
    }
 */
    .cards {
        display: grid;
        grid-template-columns: repeat(2, auto);

        justify-content: center;

        align-content: center;
        margin: 30px auto;

    }

    .card {
        width: 100%;

        margin: 15px auto;
    }
}



@media only screen and (max-width: 716px) {


    .cards {
        grid-template-columns: 1fr;
        gap: 15px;
        padding: 0px 15px;
    }


    /*     .section-left {
        width: 50%;
        position: fixed;
        top: 5px;
        left: -100%;
        transition: left 0.3s ease;
    }

    .section-right {
        width: 100%;
    }
 */



    /* } */

    .nav_left {
        h2 {
            font-size: 12px;
            margin-right: 5px;
        }
    }

    /* 
    .section-left {
        display: none;
    } */

}

.scrollToTop {
    background-color: #16eb16;
    color: #080707;
    right: 40px;
    bottom: 15px;
    float: right;
    position: fixed;
    width: 40px;
    height: 40px;
    font-size: 16px;

    text-align: center;

    transition: background-color 0.3s ease;
    opacity: 0;
}

.scrollToTop.show {
    opacity: 1;
    visibility: visible;
}


@media only screen and (max-width: 480px) {
    /* 
    .section-left {
        display: none;
    } */
    /* 
     .section-right {
        flex-basis: 85%;
    }  */

    .cards {
        display: flex;
        flex-direction: column;
        grid-template-columns: 1fr;

        .card {
            width: 100%;
        }
    }




}

.section-left.active {
    position: fixed;
    top: 0px;
    left: 0;
    z-index: 100;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
}

.sidebar.active {
    left: -1px;
}

.sidebar {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 0;
    left: 0;
    height: 48px;
    left: -100%;
    background-color: var(--bg-color);

    h2 {
        font-size: 13px;
        height: 22px;
        margin: 10px 6px;
        color: var(--text-color);
    }

    .btn {
        width: 34px;
        height: 34px;
        margin: 4px 16px;
        /* background-color: yellow; */
        background-color: var(--text-color);
        border: none;
        cursor: pointer;
        margin-right: 12px;

        i {
            font-size: 23px;
        }
    }

    .nav_logo {
        display: flex;
        gap: 0.5rem;
        text-decoration: none;

        .logo {
            border-radius: 50%;
            width: 34px;
            height: 34px;
            cursor: pointer;
            margin: 5px auto;
        }

    }

    .nav_left {

        .nav_logo {
            :where(h2) {
                font-size: 13px;
            }
        }
    }

}


/*------- darkMode ---------*/


body.darkMode {
    /*   color: var(--bg-color);
     color: #000; 

    :where(.section-left, .section-right, .card, .title){
        color: var(--bg-color);
        color: #000;
    } */
    --bg-color: #121212;
    --text-color: #e0e0e0;
    --link-color: #8ab4f8;
}

/* .section-right.darkMode {
   :where(.card, info_videos ){
    color: var(--bg-color);
    color: #000;
   }

   .info_videos {
        .title {
            a {
                color: var(--text-color)
            }
        }
   }
} */

/* .section-left {
    :where( ){
     color: var(--bg-color);
     color: #000;
    }
 } */
