@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --bg-color: #ffffff;
    --text-color: #000000;
    --link-color: #1a73e8;
    --keys_back: #333;
    --keys_light: #C0C0C0;
}

body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    overflow-y: hidden;
    background-color: var(--text-color);
}

.container {
    width: 100%;
}

.navbar {
    height: 32px;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;

    :where(.nav_left, .nav_center, .nav_right, .nav_left > .nav_logo) {
        display: flex;
        flex-direction: row;
    }

    & .nav_left {
        justify-content: flex-start;
        gap: 0.6rem;
        align-items: center;
        width: 125px;

        & .nav_logo {

            display: flex;
            align-items: center;
            gap: 0.5rem;
            text-decoration: none;
            overflow: visible;
            max-width: 100%;

            h2 {
                font-size: 13px;
                color: var(--bg-color);
                margin: 0;
                padding: 0;
                display: block;
            }
        }
    }

    & .nav_center {
        width: 500px;
        margin: 0 0.6rem;

        .search_form {
            display: flex;
            width: 100%;
            .search {
                border: 1px solid #333;
                border-radius: 0px 25px 25px 0px;
                width: 80px;
                background-color: var(--text-color);
                margin-right: 0px;

                i {
                    margin-left: -8px;
                }

                &:hover {
                    background-color: var(--bg-color);
                    color: var(--text-color);
                }
            }

            .input_form {
                height: 34px;
                max-width: 600px;
                width: 100%;
                border: 1px solid #333;
                border-radius: 25px 0px 0px 25px;
                padding: 13px;
                outline: none;
                box-sizing: border-box;
                background-color: var(--text-color);
                color: var(--bg-color);
            }

            .input_form::placeholder {
                color: var(--bg-color);
            }
        }

        .mic {
            background-color: var(--text-color);
            border-radius: 50%;
        }
    }

    & .nav_right {
        align-items: center;
        justify-content: flex-end;
    }

    :where(.profil, .logo) {
        border-radius: 50%;
        width: 32px;
        cursor: pointer;
    }

    :where(.btn) {
        width: 34px;
        height: 34px;
        background-color: var(--text-color);
        border: none;
        cursor: pointer;
        margin-right: 12px;
        color: var(--bg-color);
    }

    .btn:hover {
        background-color: var(--bg-color);
        border-radius: 50%;
        color: var(--text-color);
    }

    i {
        font-size: 23px;
    }
}

.sections {
    display: flex;
    height: calc(100vh - 32px);
    position: relative;
} 

.section-left {
    color: var(--bg-color);
    flex-shrink: 0;
    overflow-y: auto;
    position: relative;
    width: 100px; 
    left: 0px;
}

.menu_left:not(:last-child) {
    border-bottom: 1px solid #888686;
}

.menu_left {
    margin: 10px; 
}

ul {
    padding: 0;
    list-style: none;
}

ul li {
    display: flex;
    flex-direction: column;
    width: 65px;
    margin-bottom: 20px;
    font-size: 15px;
    height: 50px;
    padding: 5px;
    background-color: var(--text-color);

    a {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        font-size: 15px;
        color: var(--bg-color);
    }

    i {
        font-size: 24px;
    }
}

ul li:hover {
    background-color: #413c3c;
    cursor: pointer;
    border-radius: 5px;
}

.section-right {
    flex-grow: 1;
    padding: 20px;
    position: relative;
    height: calc(100vh - 80px);
    overflow-x: hidden;
    transition: margin-left 0.3s;
    background-color: yellowgreen;

}

.scroll-button {
    background-color: #060706;
    border: none;
    color: var(--bg-color);
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    transition: background-color 0.3s;
}

.scroll-button:hover {
    background-color: #555;
}

.scroll-left {
    position: absolute;
    top: 3px;
    left: 20px;
    display: none;
    background-color: var(--text-color);
}

.scroll-right {
    right: 10px;
    top: 0;
    background-color: var(--text-color);
}

.keywords {
    display: flex;
    white-space: nowrap;
    height: 40px;
    overflow: hidden;
    scroll-behavior: smooth;
    margin: -20px 0px;
    padding: 5px 20px;
    width: 100%;
}

.keywords::-webkit-scrollbar {
    display: none;
}

.keyword:first-child {
    background-color: var(--bg-color);
    color:var(--text-color);
}

.keyword {
    height: 25px;
    width: 65px;
    background-color: var(--text-color);
    color: var(--bg-color);
    padding: 6px;
    border-radius: 8px;
    margin-right: 20px;
    cursor: pointer;
    white-space: nowrap;
    transition: background-color 0.3s;
}

.keyword:hover {
    background-color: var(--bg-color);
    color: var(--text-color);
}


.cards {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 15px;
    margin: 30px auto;
}

.card {
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
    background-color: var(--text-color);
    color: var(--bg-color);

    .back_video {
        img {
            width: 100%;
            box-shadow: -3px 3px 3px 0px rgba(0, 0, 0, 0.57);
        }
    }

    .user_title_video {
        display: flex;
        flex-direction: row;
       
        img {
            width: 40px;
            border-radius: 50%;
            margin: 5px;
        }

        .info_videos {
            display: flex;
            flex-direction: column;
            margin-bottom: 5px;

            .title {
                width: 100%;
                padding: 0;

                a {
                    text-decoration: none;
                    color: var(--bg-color);
                }
            }
            .views {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }

        .info_videos:first-child {
            padding: 0px;
        }

    }
}

@media only screen and (max-width: 1230px) {
    .cards {
        grid-template-columns: repeat(3, auto);
    }
}

@media only screen and (max-width: 1080px) {
    .logo {
        margin-left: -15px;
    }
    .nav_left {
        h2 {
            font-size: 12px;
            margin-right: 5px;
            color: var(--text-color);
        }
    }
    .cards {
        display: grid;
        grid-template-columns: repeat(2, auto);
        justify-content: center;
        align-content: center;
        margin: 30px auto;
    }
    .card {
        width: 100%;
        margin: 15px auto;
    }
}

@media only screen and (max-width: 716px) {
    .cards {
        grid-template-columns: 1fr;
        gap: 15px;
        padding: 0px 15px;
    }
    .nav_left {
        h2 {
            font-size: 12px;
            margin-right: 5px;
        }
    }
}

.scrollToTop {
    color: var(--text-color);
    background-color: var(--bg-color);
    right: 10px;
    bottom: 15px;
    float: right;
    position: fixed;
    width: 40px;
    height: 40px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    opacity: 0;
    border-radius: 50%;
    transform: rotate(-90deg);
    outline: none;
    cursor: pointer; 
}

.scrollToTop.show {
    opacity: 1;
    visibility: visible;
}

@media only screen and (max-width: 480px) {
    .cards {
        display: flex;
        flex-direction: column;
        grid-template-columns: 1fr;

        .card {
            width: 100%;
        }
    }

    .nav_right {
        img {
            display: none;
        }
    }

    .nav_left {
        img {
            display: none;
        }
    }

    .nav_center {
        display: flex;
        justify-content: end;
        .mic {
            display: none;
        }
    }

    .keyword {
        background-color: var(--bg-color);
        border-radius: 16px;
        padding: 8px 16px;
        margin-right: 8px;
        cursor: grab;
        flex-shrink: 0;
        user-select: none;
        color: var(--text-color);
    }
}

.sidebar.show {
    left: 0;
}
.sidebar.hide {
    left: -150px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 150px;
    top: 0px;
    left: -150px;
    height: calc(100vh + 16px);
    background-color: var(--keys_back);
    box-shadow: 2px 0px rgba(0,0,0,0.75);;
    z-index: 2;
    .head {
        display: flex;
        justify-content: space-between;
        padding: 2px 6px;
        background-color: var(--text-color);
        align-items: center;

        .btn {
            width: 34px;
            height: 34px;
            background-color: var(--text-color);
            border: none;
            cursor: pointer;
            color: var(--bg-color);
            
            i {
                font-size: 23px;
            }
        }
    }

    .menu_sidebar {
        ul {    
            li {
                margin: 8px;
                display: flex;
                flex-direction: row;
                /* background-color: red; */
                width: 85%;
                color: var(--bg-color);
            }
        }
    }
    .nav_logo {
        display: flex;
        gap: 0.5rem;
        text-decoration: none;

        .logo {
            border-radius: 50%;
            width: 34px;
            height: 34px;
            cursor: pointer;
            margin: 5px auto;
        }
    }
    .nav_left {
        .nav_logo {
            :where(h2) {
                font-size: 13px;
            }
        }
    }

    ul li {
        margin: 5px 0px ;
        height: 25px;
        background-color: var(--keys_back);
        display: flex;
        justify-content: flex-start;
        align-items: center;

        i {
            margin-right: 3px;
        }
    }

    ul li:hover {
        background-color: #866d6d;
    }

}


/*------- darkMode ---------*/

body.darkMode {
    --bg-color: #121212;
    --text-color: #e0e0e0;
    --link-color: #8ab4f8;
    --keys_back: #C0C0C0;
}
