@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}



.navbar {
    height: 20%;
    width: 100%;
    background-color: rgb(209, 207, 197);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;

    :where(.nav_left, .nav_center, .nav_right, .nav_left > .nav_logo) {
        display: flex;
        flex-direction: row;
    }

    & .nav_left {
        justify-content: space-between;
        gap: 1rem;

        & .nav_logo {
            align-items: center;
            justify-content: center;
        }
    }

    & .nav_center {
        width: 600px;

        /* min-width: 0px; */
        .search_form {
            display: flex;
            width: 100%;

            /* max-width: 500px; */
            .search {
                border: 1px solid #333;
                border-radius: 0px 25px 25px 0px;
                width: 55px;
                /*---------*/
                background-color: rgb(209, 207, 197);
                /* margin-left: 5px; */

                i {
                    margin-left: -8px;
                }

                &:hover {
                    background-color: aqua;
                }
            }

            .input_form {
                height: 34px;
                max-width: 600px;
                width: 100%;
                border: 1px solid #333;
                border-radius: 25px 0px 0px 25px;
                padding: 13px;
                outline: none;
                background-color: aqua;
            }
        }

        .mic {
            background-color: #e9e1e1;
            border-radius: 50%;
        }

    }

    & .nav_right {
        align-items: center;
        justify-content: flex-end;
    }

    :where(.profil, .logo) {
        border-radius: 50%;
        width: 32px;
        cursor: pointer;
    }

    & .nav_logo {
        display: flex;
        gap: 0.5rem;
        text-decoration: none;
    }

    :where(.btn) {
        width: 34px;
        height: 34px;
        /* background-color: yellow; */
        background-color: rgb(209, 207, 197);
        border: none;
        cursor: pointer;
        margin-right: 12px;
    }

    .btn:hover {
        background-color: #c46f6f;
        border-radius: 50%;
    }

    /*     :where(.search, .mic, .night){
         width: 32px;
        height: 32px;
        background-color: white;
        border: none;
        cursor: pointer;   
      
    } */
    i {
        font-size: 23px;
    }
}

.sections {
    display: flex;
    flex-direction: row;

    .section-left {
        background-color: rgb(158, 168, 168);
        color: rgb(247, 246, 241);
        width: 300px;
        height: 550px;
        margin-left: 1px;
        overflow: scroll;
        display: none;

        .menu_left:not(:last-child) {
            border-bottom: 1px solid #888686;
        }

        .menu_left {
            margin: 12px;
        }

        ul {
            width: 270px;
        }

        ul li {
            margin-bottom: 20px;
            list-style: none;
            font-size: 15px;
            height: 45px;
            padding: 5px 10px;
            background-color: rgb(209, 207, 197);

            a {
                text-decoration: none;
                font-size: 16px;
                color: black;
            }

            i {
                font-size: 24px;
                margin-right: 10px;
            }
        }

        ul li:hover {
            background-color: #bebcbc;
            cursor: pointer;
            border-radius: 5px;
        }
    }

    .section-right {
        /* width: 1365px; */
        width: 100%;
        height: 550px;
        padding: 25px;
        overflow-y: scroll;
        overflow-x: hidden;

        .keywords {
            width: 1060px;
            height: 40px;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;

            & .keyword {
                height: 40px;
                width: 65px;
                background-color: rgb(29, 22, 12);
                color: rgb(230, 229, 229);
                padding: 6px;
                border-radius: 8px;
                margin-right: 20px;
                cursor: pointer;
            }

            & .keyword:hover {
                background-color: #bebcbc;
            }
        }

        .cards {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap; 

            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 15px; 

            & .card {
                flex: 0 3 auto;
       /*          flex-direction: column;
                width: 310px; */
                /* border: 3px solid rgb(25, 0, 255); */
                margin-top: 20px;

                & .back_video {

                    /* border: 3px solid red; */
                    img {
                        width: 100%;
                        box-shadow: -3px 3px 3px 0px rgba(0, 0, 0, 0.57);

                    }

                    ;
                }

                & .user_title_video {
                    display: flex;
                    flex-direction: row;
                    /* border: 3px solid rgb(6, 175, 20); */

                    & img {
                        width: 40px;
                        border-radius: 50%;
                        margin-right: 8px;
                    }

                    & .title {
                        width: 240px;
                        /* Largeur maximale du conteneur */
                        white-space: nowrap;
                        /* Empêche le texte de s'étendre sur plusieurs lignes */
                        overflow: hidden;
                        /* Cache le texte qui dépasse le conteneur */
                        text-overflow: ellipsis;
                        /* Ajoute les "..." à la fin du texte */
                        padding: 5px;
                    }
                }

                & .views {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }

            }
        }


    }
}

@media only screen and (min-width: 1015px) and (max-width: 1322px) {
     .sections {
        max-width: 1300px;
        background-color: crimson;
        .section-right {
            width: 1315px;


            .cards {
                background-color: darkgoldenrod;
                display: grid;
                grid-template-columns: repeat(3, 1fr);

                .card {
                    background-color: khaki;
                }
            }
        }
    } 

}



@media only screen and (max-width: 675px) {

    .logo {
        margin-left: -15px;
    }

    .input_form {
        display: none;
    }

    .search {
        border-radius: 50% !important;
        width: 34px !important;
        height: 34px !important;
        border: none !important;

    }

    .nav_left {
        h2 {
            font-size: 12px;
            margin-right: 5px;
        }
    }

    .sections {
        width: 675px;
        background-color: cadetblue;


        .section-left {
            display: none;
        }

        .section-right {
            width: 670px;
            height: 100%;
            margin: 15px;

            .cards {
                display: grid;
                grid-template-columns: 1fr;
                /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
                justify-content: center;
                /* Centre les colonnes horizontalement */
                align-content: center;
                margin: 15px;


                .card {
                    width: 100%;
                    /* margin-left: 30px; */
                    background-color: yellow;
                    
                }
            }
        }
    }
}


@media only screen and ( min-width : 685px) and ( max-width : 990px) {
.sections {
    width: 990px;
    .section-right {
        max-width: 990px;
        height: 100%;
        padding: 4px;
        background-color: red;

    .cards {
        width: 975px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
        padding: 0px 15px;
        background-color: rgb(0, 255, 115);
            .card {
                width: 380px;
                background-color: chocolate;
            }
        }
    }
}
/*     .nav_left {
        h2 {
            font-size: 12px;
            margin-right: 5px;
        }
    } */
    
}
